{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>




        <form class="px-4 py-3" action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <label for="exampleDropdownFormEmail1">Email address</label>
                <input type="email" class="form-control" required name="_username"  placeholder="email@example.com">
            </div>
            <div class="form-group">
                <label for="exampleDropdownFormPassword1">Password</label>
                <input type="password" class="form-control" required name="_password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>


{% endblock %}