{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="jumbotron text-center">
<h1>Bienvenue sur la homepage</h1>
</div>

    {% include 'ad/ads.html.twig' %}
{% endblock %}

